/* used color */
:root {
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --iris: #4d5ae5;
  --navy_blue: #2e2f42;
  --slate: #434455;
  --white: #fff;
  --ocean: #404bbf;
}

/*main style*/

.link {
  list-style-type: none; /*remove bullet point to all list class*/
  color: var(--slate);
  padding: 0; /*remove indent from left and right*/
}

.link-list,
.link-web {
  text-decoration: none; /*remove underlines*/
}

body {
  font-family: roboto;
  color: var(--slate);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

/* footer section */

.footer {
  background-color: var(--navy_blue);
}

.footer-text {
  color: var(--cloud);
  line-height: 1.5;
}
/* line-height conversion
 1 = 16px */

.link-web {
  font-size: 18px;
  font-weight: 800;
  line-height: 1.31;
  letter-spacing: 0.54px;
  font-family: raleway;
}

.link-spanweb {
  color: var(--iris);
}

.link-spanstudio {
  color: var(--cloud);
}

/* change color when pointed by cursor */
.link-web:hover .link-spanweb,
.link-web:focus .link-spanweb,
.link-web:hover .link-spanstudio,
.link-web:focus .link-spanstudio {
  color: var(--ocean);
}
/* end of footer sectionhe */

/* header section */
.header {
  color: var(--navy_blue);
}

.header-web {
  color: var(--iris);
}

.header-studio {
  color: var(--navy_blue);
}

.header-nav .link-list {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--navy_blue);
}

.link .link-list {
  color: var(--slate);
  font-style: normal;
}

/* change color when pointed by cursor */
.link-list:hover,
.link-list:focus,
.link-web:hover .header-web,
.link-web:focus .header-web,
.link-web:focus .header-studio,
.link-web:hover .header-studio {
  color: var(--ocean);
  cursor: pointer;
}

/* removing spaces between contact */
.header .link {
  margin: 0;
}
/* end of header style */

/* body styling */
.main-title-section {
  background-color: var(--navy_blue);
  margin-top: 50px;
}

.main-title {
  text-align: center;
  color: var(--white);
  font-size: 56px;
  font-weight: 700;
  line-height: 107.43%.;
  letter-spacing: 1.12px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}
/* button style */
.main-btn {
  color: var(--white);
  background: var(--iris);
  border-radius: 4px;
  border-color: none;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--ocean);
}

/* end of button style */
.title {
  text-align: center;
}
